<form [formGroup]="registerForm" (submit)="tryRegister()" class="register-box">
  <div class="card--register form-group">
    <div>
      <mat-form-field appearance="outline">
      <mat-label>Email address</mat-label>
      <input matInput type="email" [formControl]="registerForm.get('email')" required>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput type="password" [formControl]="registerForm.get('password')" required>
      </mat-form-field>
      <label class="error">{{errorMessage}}</label>
      <label class="success">{{successMessage}}</label>
    </div>
  </div>
  <button type="submit" class="button--register" [disabled]="isEmpty()">Create new account</button>
  <a href="" class="login" routerLink="../login">Login</a>
</form>
